/** Header Middle **/
.ast-mobile-header-wrap .ast-primary-header-bar, .ast-primary-header-bar .site-primary-header-wrap {
    min-height: 1rem; 
}

.ast-primary-header-bar {
   background-color: var(--main-header-background-color);
   border: 0;
  
}