/****

    Contact Form 7

**************/
.wpcf7  {
    
    label {
        color: inherit;
    }


    input[type=email], input[type=number], input[type=password], input[type=reset], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
        color: #666;
        padding: .75em;
        height: auto;
        border-width: 1px;
        border-style: solid;
        border-color: var(--primary-orange);
        border-radius: 2px;
        background: #fafafa;
        box-shadow: none;
        box-sizing: border-box;
        transition: all .2s linear;
    }
    form>p input[type="submit"]  {
        margin: 0 auto;
        text-align: center;
 }
}

.wpcf7 .wpcf7-form-control-wrap {
    border-color: var(--primary-orange);
}