/****

    Side Cart
    
**************/
/* 
a.xoo-wsc-ft-btn {
   background-color: #2597D6 !important; 
   color: #fff ;
}

a.xoo-wsc-ft-btn a:hover {
    background-color: #035178 !important;
    color: #fff ;
 } */
