/**** 

    Buttons 
    
******************/
.menu-toggle, button, .ast-button, .wp-block-button .wp-block-button__link, .button, input#submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;

    border-radius: 0px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1;
    text-align: center;

    color: var(--primary-button-text-color);
    background-color: var(--primary-button-background-color);
}


/** header button **/

.ast-custom-button {
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-radius: 5px;
    padding-top: 15px;
    padding-right: 15px !important;
    padding-bottom: 15px;
    padding-left: 30px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1;
    text-align: center;
}

.ast-header-button-1 {
    border-right: 2px solid var(--primary-black);
}
.ast-header-button-1 a .ast-custom-button {
    background-color: var(--header-button-background-color);
    color: var(--header-button-text-color);
    text-transform: var(--header-button-text-transform);
    font-weight: var(--header-button-font-weight);
    font-size: var(--header-button-font-size)!important;
}

.ast-header-button-1 a:hover .ast-custom-button {
   background-color: var(--header-button-background-hover);
   color: var(--header-button-text-hover);
}
