/****

   Tablet Settings 

******************/



@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .hide-column {
        display: none;
    }

    .widget_block {
        margin: 1.5rem !important;
    }

    .footer-h-right {
        text-align: center;
    }
    
}



